<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="content">
        <div class="row">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Отлично сработано!</h4>
                <p>У ВАС нет доступа к страницам предназначенным для администратора</p>
                <hr>
                <p class="mb-0">ЕСЛИ ВЫ ЯВЛЯЕТЕСЬ АДМИНИСТРАТОРОМ, ТО СООБЩИТЕ ОБ ОШИБКЕ ПО ПОЧТЕ</p>
            </div>
        </div>
    </div>
</html>