<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="content">
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg" style="width: 200px;height: 200px;border-radius: 100%">
            <h3 th:text="${#authentication.principal.fullName}"></h3>
            <h3 th:text="${#authentication.principal.email}"></h3>
            <a th:href="@{''}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">ADMIN PANEL</a>
            <a th:href="@{''}">CHANGE PASSWORD</a>
            <a th:href="@{''}">PREFERENCES</a>
            <form th:action="@{'/logout'}" method="post">
                <button class="btn btn-danger">LOGOUT</button>
            </form>
        </div>
    </div>
</html>