<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <form th:action="@{'/places/add-places'}" method="post">
                <div class="from-group">
                    <label class="form-label">PLACE-NAME:</label>
                    <input type="text" class="form-control" name="place-name">
                </div>
                <div class="from-group">
                    <label class="form-label">PLACE-AREA:</label>
                    <input type="number" class="form-control" name="place-area">
                </div>
                <div class="from-group">
                    <label class="form-label">CHOOSE-COUNTRY:</label>
                    <select class="form-control" name="place-country">
                        <option>Kazakhstan</option>
                        <option>Turkya</option>
                        <option>USA</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">ADD PLACE</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>