<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #751493" xmlns:th="http://www.thymeleaf.org/"  >
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/request/home'}">CRM Система</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/request/home'}">Все Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/request/new-request'}">Новые Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/request/processed-request'}">Обработанные Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/request/add-request'}">+Добавить заявку</a>
                </li>
            </ul>
            <form th:action="@{'/request/search'}" method="get" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search-str">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>